*
!*.wrap
!.gitignore
!/libwebsockets-4.3.3/
!/libwebsockets-4.3.3/**

!/datachannel-wasm/
!/datachannel-wasm/**

!/libdatachannel/
!/libdatachannel/**
!/mbedtls/
!/mbedtls/**
!/libjuice/
!/libjuice/**
!/plog/
!/plog/**
!/usrsctp/
!/usrsctp/**
!json/
!json/**
